# Coder Pay Environment Configurations

# APP_URL: The public URL where this web/console application is hosted.
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NEXT_PUBLIC_ENABLE_SANDBOX: Enable sandbox testing simulator (only set to true in dev/staging environments).
NEXT_PUBLIC_ENABLE_SANDBOX="true"
